.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  width: 100%;
  min-height: calc(100vh - 300px);
  min-height: 300px;
  background: linear-gradient(rgba(55, 137, 252, 0.3), rgba(0, 95, 168, 0.3));
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(15, 151, 255, 0.2);
}

.header {
  position: absolute;
  top: -50px;
  left: 20px;
  right: 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(55, 137, 252, 0.1), rgba(0, 95, 168, 0.1));
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.header .logo {
  color: rgb(1, 49, 161);
  font-weight: 700;
  text-decoration: none;
  font-size: 0.75rem;
}

.header ul {
  display: flex;
}

.header ul li {
  list-style: none;
  font-size: 0.75rem;
  margin: 0 0.25rem;
  font-weight: 600;
  color: rgb(0, 30, 100);
}

.header .dev {
  color: rgb(1, 49, 161);
  font-weight: 700;
  text-decoration: none;
  font-size: 0.75rem;

  padding: 0.25rem 1rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.header .dev:hover {
  background: rgba(228, 236, 254, 0.612);
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(115, 117, 118, 0);
}

.content {
  position: relative;
  max-width: 400px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background: rgba(228, 236, 254, 0.612);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .header .logo {
    font-size: 1rem;
  }

  .header ul li {
    font-size: 1rem;
    margin: 0 0.25rem;
  }

  .header .dev {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 768px) {
  .header .logo {
    font-size: 1.25rem;
  }

  .header ul li {
    font-size: 1rem;
    margin: 0 1rem;
  }
}

@media screen and (min-width: 998px) {
  .header .logo {
    font-size: 1.5rem;
  }

  .header ul li {
    font-size: 1.25rem;
    margin: 0 0.25rem;
  }

  .header .dev {
    font-size: 1.5rem;
    padding: 0.5rem 2.5rem;
    transition: 0.3s;
  }
}
